
@{
    ViewBag.Title = "VentasXArticulo";
}
<link rel="stylesheet" href="~/Scripts/tabla.css">
<h2>Ventas Por Articulo</h2>


<div class="col-12">
    <table class="table">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Total del articulo vendido</th>
                <th>Precio unitario</th>
            </tr>
        </thead>
        <tbody id="tbody">
        </tbody>
    </table>
</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<script src="~/Scripts/Ventas.js"></script>
<script>VentasXArticulo()</script>


